// Disable nav tabs default styles

.nav-tabs  {
  border: none;

  & .nav-item .nav-link {
    color: $light;
    background: none;
    border: none;

    &:active, &:hover, &:focus {
      color: $light;
      background: none;
      border: none;
    }
  }
}