// User custom utilities
@use 'sass:map';
@import "../variables/variables";

$utilities: map.merge($utilities,
    ("border": (responsive: true,
        property: border,
        values: (null: $borders-value,
        ),
      ),
      "border-top": (responsive: true,
        property: border-top,
        values: (null: $borders-value,
        ),
      ),
      "border-right": (responsive: true,
        property: border-right,
        values: (null: $borders-value,
        ),
      ),
      "border-bottom": (responsive: true,
        property: border-bottom,
        values: (null: $borders-value,
        ),
      ),
      "border-left": (responsive: true,
        property: border-left,
        values: (null: $borders-value,
        ),
      ),
      "radius": (property: border-radius,
        responsive: true,
        class: radius,
        values: (null: $radiuses-value,
        )),
      "radius-left": (property: border-top-left-radius border-bottom-left-radius,
        responsive: true,
        class: radius-left,
        values: (null: $radiuses-value,
        )),
      "radius-right": (property: border-top-right-radius border-bottom-right-radius,
        responsive: true,
        class: radius-right,
        values: (null: $radiuses-value,
        )),
      "radius-top": (property: border-top-right-radius border-top-left-radius,
        responsive: true,
        class: radius-top,
        values: (null: $radiuses-value,
        )),
      "radius-bottom": (property: border-bottom-right-radius border-bottom-left-radius,
        responsive: true,
        class: radius-bottom,
        values: (null: $radiuses-value,
        )),
      "radius-left-top": (property: border-top-left-radius,
        responsive: true,
        class: radius-left-top,
        values: (null: $radiuses-value,
        )),
      "radius-right-top": (property: border-top-right-radius,
        responsive: true,
        class: radius-right-top,
        values: (null: $radiuses-value,
        )),
      "radius-right-bottom": (property: border-bottom-right-radius,
        responsive: true,
        class: radius-right-bottom,
        values: (null: $radiuses-value,
        )),
      "radius-left-bottom": (property: border-bottom-left-radius,
        responsive: true,
        class: radius-left-bottom,
        values: (null: $radiuses-value,
        )),
      "small-extra": (property: font-size,
        responsive: true,
        class: small-extra,
        values: (null: $fs-small-extra,
        )),
      "width": (
        property: width,
        responsive: true,
        class: w,
        values: (
          25: 25%,
          50: 50%,
          75: 75%,
          100: 100%,
          auto: auto,
          min-content: min-content,
          max-content: max-content,
          fit-content: fit-content
        )
      ),
    ));